{% extends 'base.html' %}

{% block content %}
    <div class="container" id="wrapper">
        <form action="/" method="post">
            {% csrf_token %}
                {% for field in form %}
                    {{ field.error }}{{ field.label }}{{ field }}
                {% endfor %}
            <textarea id="id_deshifr" rows="10" class="form-control" readonly>{{ data }}</textarea>
            <input type="submit" name="shifr_but" value="Зашифровать">
            <input type="submit" name="deshifr_but" value="Расшифровать">
        </form>
    </div>

{% endblock %}