body{
}
#id_shifr{
    float: left;
    resize: none;
    width: 300px;
}
#id_deshifr{
    float: right;
    resize: none;
    width: 300px;
}
#id_label{
    display: block;
    margin: 10px;
}
#wrapper{
    width: 750px;
}
#id_ROT{
    width: 50px;
}
label{
    background-color: grey;
    margin: auto;
}
#message{
    height:50px;
    border: 1px solid grey;
    border-radius: 10px;
}